{% include esp-header.html %}
		<!-- START: INFO ABOVE MENU 	
		<div class="info_above_menu">
			<div class="container">
				<div class="info_above_menu_left eight columns">
					Awesome html5 theme by Designare
				</div>
				<div class="info_above_menu_right eight columns">
					Email: <a href=mailto:geral@designarethemes.com> geral@designarethemes.com </a>  |  Tel: +351 966 666 666
				</div>
			</div>
		</div>
		-->
		<!-- END: INFO ABOVE MENU -->
		
		<!-- START: PAGE TITLE -->
		<div class="fullwidth-container" style="position: relative;float: left; height: 110px; width: 100%;height: 110px;background: white;">
			<div class="container container-border"  style='border-top: 1px solid #ededed;'>
				<div class="pageTitle sixteen columns"  style='margin-top: 0px;'>
			   		<h3 class="page_title nine columns" style="color: #444444; font-size: 24px">{{ page.title }}</h3>
				</div>
			</div>
		</div>
		<!-- END: PAGE TITLE -->
		
	
		<div id="white_content">
		
			<div id="wrapper">

				<div class="main_cols container" style="margin-bottom:50px;">

					<div class="ten columns">
					<div class="intro">	Nuestros servicios de mejoras crédito de la empresa utilizan una red de cuentas prestamistas empresa que han acordado ampliar el crédito para su negocio de inmediato, para que pueda comenzar a mejorar su calificación de crédito empresa hoy en día.</div>
					
						<div class="check">Recibe 3-5 líneas de crédito concedidas a su empresa.</div>
						<div class="check">Obtenga referencias de crédito favorables de estos socios y permitir estas referencias que se informó.</div>
						<div class="check">Véase el aumento de su calificación de crédito en 30 a 60 días.</div>
					
					<p>Su calificación crédito de la empresa  mejorarán sus oportunidades de préstamos para su negocio y le permitirá acceder a mayores formas de financiación.</p>
					</div>
					<div class="six columns">
						<img src="/assets/benjamins.jpg" style="width:100%;" />
						<a class="medium button yellow" href="/como-funciona" style="float:right;">
						<span class="des-icon80">
							<img class="cenas_icon loaded" src="/img/designare_icons/icon211.png" alt="" style="opacity: 1;">
							¿Cómo funciona?
						</span>
					</a>
					</div>

				</div>





		<div style="clear:both;"></div>

 		<div class="container" style="border-top: 1px solid #ededed;">
			<div class="sixteen columns">
			<h3>Programas para la Mejora de Crédito Empresas</h3>
			<p>El programa de <strong>AUMENTO de EMPRESA</strong> es para los clientes de negocios que desean establecer un historial de crédito corporativa. Esto no es un servicio de reparación de crédito o asesoramiento de la deuda.  <a href="/contactenos">Consúltenos sobre el programa que debe unirse hoy &raquo;</a></p>
			<p>&nbsp;</p>
			</div>
		</div>

		<!-- START: PRICING TABLE -->
		<div class="container pricing_table">
		<!-- TABLE #01 -->
		<div class="pricing_tab four columns">
		    <div class="top">
		        <div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$250</div>
		        </div>
		    </div>

		    <div class="title">
		        BUSINESS ENHANCE
		    </div>

		    <ul class="specifics">
		        <li>Puntaje de Crédito Arranque</li>
		    	<li>1-2 Lineas de Crédito</li>
		    	<li>$500+ Limites de Crédito</li>
		        <li>1+ Año Historial</li>
		    </ul>

		    <p><a class="button medium green highlight" href="/contactenos">Empezar &raquo;</a></p>
		</div>

		<!-- TABLE #02 -->
		<div class="pricing_tab four columns">
		    <div class="top">
		        <div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$500</div>
		        </div>
		    </div>

		    <div class="title">
		        BUSINESS SILVER
		    </div>

		    <ul class="specifics">
		        <li>Aumento Extra</li>
		    	<li>2-3 Lineas de Crédito Preferidas</li>
		    	<li>$2,500+ Limites de Crédito</li>
		        <li>2+ Años Historial</li>
		        
		    </ul>

		    <p><a class="button medium green highlight" href="/contactenos">Empeiza &raquo;</a></p>
		</div>

		<!-- TABLE #03 -->
		<div class="pricing_tab highlight four columns">
		    <div class="top">
		    	<div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$1000</div>
		        </div>
		    </div>

		    <div class="title" style="background-color: rgb(122, 179, 23);">
		        BUSINESS GOLD
		    </div>

		    <ul class="specifics">
		        <li>Super RAPIDO Aumento!</li>
		    	<li>3-4 Lineas Sazonadas</li>
		        <li>$5,000+ Limites de Crédito</li>
		        <li>3+ Años Historial</li>
		        <li>Servicio VIP</li>
		    </ul>

		    <p><a class="button medium green highlight" href="/contactenos">Empeiza &raquo;</a></p>
		</div>

		<!-- TABLE #04 -->
		<div class="pricing_tab four columns">
		    <div class="top">
		        <div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$1500</div>
		        </div>
		    </div>

		    <div class="title">
		        BUSINESS PLATINUM
		    </div>

		    <ul class="specifics">
		    	<li>Definitivo Aumento de credito!</li>
		    	<li>5+ Lineas Platina</li>
		        <li>$10,000+ Limites de Crédito</li>
		        <li>3+ Años Historial</li>
		        <li>Servicio VIP</li>		
		    </ul>

		    <p><a class="button medium green" href="/contactenos">Empeiza &raquo;</a></p>
		</div>
		</div>
		<!-- END: PRICING TABLE -->

						<div style="clear:both;"></div>
 			
 						<div class="container" style="border-top: 1px solid #ededed;padding-top:40px;">	
							<div class="sixteen columns">
								<h3>¿Por qué construir y mejorar su crédito para las empresas?</h3>
								<p>Aprovechando un perfil de crédito de la empresa debidamente construido y mejorado, usted será capaz de conservar el flujo de efectivo, obtener mejores condiciones de financiación, limitar su responsabilidad personal y ahorrar dinero!</p>
								<p>&nbsp;</p>
							</div>

							<div class="sixteen columns">
								
								<section class="special_tabs">

							        <div class="label 2">
							            <div class="designare_icon_special_tabs" style="background: #666 url(/img/designare_icons/icon23.png) no-repeat center center;"></div>
							            <span class="tab_title">Proteja su Crédito Personal</span>
							        </div>
							
							        <div class="content 2">
							            
							            <p style="margin-left: 40px;">
							            	<img class=" wp-image-379 aligncenter" title="responsive" alt="" style="width:300px; margin-left:20px; float:right;" src="/assets/business-team.jpg" />
							            </p>
							            <div class="headline">Con la construcción de una empresa solvente, los acreedores y los prestamistas estarán menos propensos a requerir una garantía personal para asegurar el financiamiento.</div>

							            <p>Con el crédito corporativo, sus deudas de la empresa y las obligaciones financieras se informaron sólo en el crédito de su empresa informes-no en sus informes personales. Como resultado, su deuda personal al cociente límite de crédito no se verá afectada por las deudas de su empresa.</p>
							            <p>Separando el crédito personal y de negocios, se elimina el riesgo de que se mezclen los fondos - y esto incluye los contactos entre crédito.</p>
							        </div>


							    	<!-- Tab 01 -->
							        <div class="label 1">
							            <div class="designare_icon_special_tabs" style="background: #666 url(/img/designare_icons/icon84.png) no-repeat center center;"></div>
							            <span class="tab_title">Obtener Mejores Condiciones de Crédito</span>
							        </div>
							
							        <div class="content 1">
							
										<p><img class="size-full wp-image-409 aligncenter" title="post" alt="" style="width:300px; margin-left:20px; float:right;"  src="/assets/process_xsmall.jpg" />
							            </p>
							            <div class="headline">Ahorrar dinero pagando tasas de interés más bajas y conseguir mejores condiciones financieras.</div>
							            <p>Las empresas obtienen tasas más favorables en líneas de crédito en comparación con un individuo. Por ejemplo, puede pagar hasta un 13% de interés en una línea de crédito de 100.000 dólares, mientras que un negocio podría calificar para una tasa de interés del 7%. Eso ahorrará casi $ 40,000 en intereses.</p>



							        </div>
							        
							        <!-- Tab 02 -->

							        
							        <!-- Tab 03 -->
							        <div class="label 3">
							            <div class="designare_icon_special_tabs" style="background: #666 url(/img/designare_icons/icon24.png) no-repeat center center;"></div>
							            <span class="tab_title">Maximizar las Oportunidades</span>
							        </div>
							
							        <div class="content 3">
							        	<p><img class="size-full wp-image-409 aligncenter" title="post" alt="" style="width:300px; margin-left:20px; float:right;"  src="/assets/small-business-loan.jpg" />
							            </p>
							            <div class="headline">Muchos prestamistas, acreedores y proveedores sólo extender el crédito a las empresas que cumplen con sus directrices de cumplimiento corporativo. Esto incluye un listado de crédito del negocio y las calificaciones con las principales agencias.</div>
							            <p>Si usted tiene muy poca historia o sin historia en absoluto, nuestro programa de mejoras crediticias es la forma más rápida y fácil de construir el crédito suficiente para que los grandes prestamistas institucionales pueden aprobar sus solicitudes de préstamos comerciales, contratos de arrendamiento de empresas, o contratos con proveedores.</p>

							        </div>

							        
							        
							    </section>
							</div>
						</div>
							<!-- END: VERTICAL TABS -->


				<div style="clear:both;"></div>

				
				<div class="featured-box fancyborder">
					<div class="fancyb">
						<h3 style="font-size: 23px;text-align: left;width: 77%;clear: right;float: left;top: 10px;position: relative;left: 13px;">Buscando un aumento de crédito personal?</h3>
						<p style="text-align: left; color: #999;width: 72%; position: relative; float: left;top: 9px;">
							<span style="font-size: 18px;left: 13px;position: relative;left: 13px;font-weight: 100;color: #ccc;top:2px;">Ofrecemos a los clientes cualificados un programa de mejora de puntaje de crédito personal.</span>
						</p>
						<p style="text-align: right;width: 28%;float: right;position: relative;top: -18px;right: 8px;">
							<a href="/personal-credit" class="button big yellow">
								<span>Servicios de Crédito Personales &raquo;</span>
							</a>
						</p>
					</div>
				</div>
							

	
		
		<script type="text/javascript">
						
			$(document).ready(function(){
			
				$('.projectCategories .splitter li').each(function(){
				    $(this).click(function(){
					    $(this).addClass('active').siblings().removeClass('active');
					    $(this).siblings().not('active').slideHorzHide();
					    $(this).parents(".filterby").children(".filterby_btn").removeClass("open").addClass("closed");
					 });
				});
						    	
				$('.projectCategories .splitter').children('li').not('.active').slideHorzHide();
	
				if ($('#type_of_sorting').html() === 'opacity') {
					$('.thumbnails_list > ul').removeClass('proj_list').addClass('proj_list_overlay');
					clickThumbsOverlay("projects-2");	
				}
				else {
					$('#projects-2 .da-thumbs > li').hoverdir();
					quicksandstart("projects-2");
				}
				thumbnailsBehavior();
			});
		
			function toggleFilter($el){
				if ($el.hasClass('closed')){
					/* OPEN */
					$el.siblings('.projectCategories').children('.splitter').children('li').slideHorzShow();
					$el.removeClass('closed').addClass('open');										
				} else {
					/* CLOSE */									
					$el.siblings('.projectCategories').children('.splitter').children('li').not('.active').slideHorzHide();
					$el.removeClass('open').addClass('closed');
				}
			}
			
			function thumbnailsBehavior(){
	
			    $('.thumbnails_list > ul > li').each(function(){
			        
			        $(this).find('.magnify_this_thumb')
			        	.click(function(){
				    		$(this).parent('.hover_the_thumbs').siblings('.flex_this_thumb').prettyPhoto();
				    		$(this).parent('.hover_the_thumbs').siblings('.flex_this_thumb').trigger('click');
			        	})
			        	.hover(function(){
				    		$(this).css('background','#7AB317');
			        	}, function(){
				    		$(this).css('background','white');
			        	});
			        	
			        $(this).find('.hyperlink_this_thumb')
			        	.click(function(){
				    		window.location = $(this).parents('.ch-item').children('a').eq(0).attr('href');
			        	})
			        	.hover(function(){
				    		$(this).css('background','#7AB317');
			        	}, function(){
				    		$(this).css('background','white');
			        	});
			    
			        /*mouseenter and mouseleave events*/
				    $(this).hover(function(){
				    	$(this).find('.hover_the_thumbs').css('background-color','rgba(0, 0, 0, 0.6)');
				    	/*set the color of the div with the text*/
				    	$(this).children('div').css('background','#7AB317'); 
				    	$(this).find('.p_title a').css('color', 'white'); 
				    	$(this).find('.p_exerpt p').css('color', 'white');
				    	/*set the color of the darker divider of the div with the text*/ 
				    	$(this).find('.p_title').css('border-top', '4px solid #628f12');
				    }, function(){
				    	$(this).find('.hover_the_thumbs').css('background-color','rgba(0, 0, 0, 0)');
				    	$(this).children('div').css('background','#EEE');
				    	$(this).find('.p_exerpt p').css('color', ''); 
				    	$(this).find('.p_title a').css('color', ''); 
				    	$(this).find('.p_title').css('border-top', '4px solid #DDD');
				    });
			    });
			}	
			
			$.fn.slideHorzShow = function( speed, easing, callback ) { this.animate( { marginLeft : 'show', marginRight : 'show', paddingLeft : 'show', paddingRight : 'show', width : 'show' }, speed, easing, callback ); };
			$.fn.slideHorzHide = function( speed, easing, callback ) { this.animate( { marginLeft : 'hide', marginRight : 'hide', paddingLeft : 'hide', paddingRight : 'hide', width : 'hide' }, speed, easing, callback ); };
		</script>
		
					</div><!-- #primary -->
		</div><!-- enf of .container -->
	</div><!-- end of wrapper -->
{% include esp-footer.html %}	