{% include esp-header.html %}
		<!-- START: INFO ABOVE MENU 	
		<div class="info_above_menu">
			<div class="container">
				<div class="info_above_menu_left eight columns">
					Awesome html5 theme by Designare
				</div>
				<div class="info_above_menu_right eight columns">
					Email: <a href=mailto:geral@designarethemes.com> geral@designarethemes.com </a>  |  Tel: +351 966 666 666
				</div>
			</div>
		</div>
		-->
		<!-- END: INFO ABOVE MENU -->
		
		<!-- START: PAGE TITLE -->
		<div class="fullwidth-container" style="position: relative;float: left; height: 110px; width: 100%;height: 110px;background: white;">
			<div class="container container-border"  style='border-top: 1px solid #ededed;'>
				<div class="pageTitle sixteen columns"  style='margin-top: 0px;'>
			   		<h3 class="page_title nine columns" style="color: #444444; font-size: 24px">{{ page.title }}</h3>
				</div>
			</div>
		</div>
		<!-- END: PAGE TITLE -->
		
	
		<div id="white_content">
		
			<div id="wrapper">

				<div class="main_cols container" style="margin-bottom:50px;">

					<div class="ten columns">
					<div class="intro">	Nuestro proceso de mejoramiento del crédito personal, a veces llamada que lleva a cuestas, utiliza las cuentas de otro prestatario solvente para mejorar su calificación crediticia. </div>
					
						<div class="check">El otro prestatario solvente han llegado a un acuerdo para añadir que como un usuario autorizado a sus líneas de crédito</div>
						<div class="check">Nunca se le proporcionará con tarjetas de crédito o números de cuentas que permitan a hacer cargos a las cuentas</div>
						<div class="check">La combinación de la larga historia y la ampliación de los límites de crédito se fusionará con su historial de crédito</div>
					
					<p>Su beneficio es una mejora en su calificación de crédito personal. Sin embargo, esto no cambia todo su historial de crédito, sólo aumenta su puntuación de crédito como consecuencia de la cuenta recién agregado.</p>
					</div>
					<div class="six columns">
						<img src="/assets/business-credit-pen.jpg" style="width:100%;" />
						<a class="medium button yellow" href="/como-funciona" style="float:right;">
						<span class="des-icon80">
							<img class="cenas_icon loaded" src="/img/designare_icons/icon211.png" alt="" style="opacity: 1;">
							Como funciona este programa?
						</span>
					</a>
					</div>

				</div>





		<div style="clear:both;"></div>

 		<div class="container" style="border-top: 1px solid #ededed;">
			<div class="sixteen columns">
			<h3>Programas de Crecimiento de Crédito Personales</h3>
			<p>Nuestro <strong> AUMENTO PERSONAL </strong> programa está diseñado para ayudar a los clientes a mejorar ya buen crédito. Esto no es un servicio de reparación de crédito o la deuda de consejería. Se trata de aumento la calificación crediticia de su historial de crédito personal. Contamos con expertos que hacen una pausa para guiarle en el proceso. <a href="/contactenos"> Haz una pregunta sobre el programa que debe unirse hoy &raquo;</a></p>
			<p>&nbsp;</p>
			</div>
		</div>

		<!-- START: PRICING TABLE -->
		<div class="container pricing_table">
		<!-- TABLE #01 -->
		<div class="pricing_tab four columns">
		    <div class="top">
		        <div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$250</div>
		        </div>
		    </div>

		    <div class="title">
		        PERSONAL ENHANCE
		    </div>

		    <ul class="specifics">
		        <li>Puntuación de Crédito Srranque</li>
		    	<li>1-2 Líneas de Crédito</li>
		    	<li>$500+ Limites de Crédito</li>
		        <li>1+ Año Historial</li>
		    </ul>

		    <p><a class="button medium green" href="/contactenos">Empieza &raquo;</a></p>
		</div>

		<!-- TABLE #02 -->
		<div class="pricing_tab four columns">
		    <div class="top">
		        <div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$500</div>
		        </div>
		    </div>

		    <div class="title">
		        PERSONAL SILVER
		    </div>

		    <ul class="specifics">
		        <li>Get an Extra Boost</li>
		    	<li>2-3 Líneas de Crédito Preferidas</li>
		    	<li>$2,500+ Limites de Crédito</li>
		        <li>2+ Años Historial</li>
		        
		    </ul>

		    <p><a class="button medium green" href="/contactenos">Empieza &raquo;</a></p>
		</div>

		<!-- TABLE #03 -->
		<div class="pricing_tab highlight four columns">
		    <div class="top">
		    	<div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$1000</div>
		        </div>
		    </div>

		    <div class="title" style="background-color: rgb(122, 179, 23);">
		        PERSONAL GOLD
		    </div>

		    <ul class="specifics">
		        <li>Super RAPIDO Aumento!</li>
		    	<li>3-4 Líneas de Crédito Sazonadas</li>
		        <li>$5,000+ Limites de Crédito</li>
		        <li>3+ Años Historial</li>
		        <li>Servicio VIP</li>
		    </ul>

		    <p><a class="button medium green" href="/contactenos">Empieza &raquo;</a></p>
		</div>

		<!-- TABLE #04 -->
		<div class="pricing_tab four columns">
		    <div class="top">
		        <div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$1500</div>
		        </div>
		    </div>

		    <div class="title">
		        PERSONAL PLATINUM
		    </div>

		    <ul class="specifics">
		    	<li>El Maximo Aumento</li>
		    	<li>5 Líneas de Crédito Platina</li>
		        <li>$10,000+ Limites de Crédito</li>
		        <li>3+ Años Historial</li>
		        <li>Servicio VIP</li>
		    </ul>

		    <p><a class="button medium green" href="/contactenos">Empieza &raquo;</a></p>
		</div>
		</div>
		<!-- END: PRICING TABLE -->



				<div class="container" style='border-top: 1px solid #ededed;'>
	    			<div class="reset_960">
	
						<article id="projects-2" role="article">
					
							<div class="entry-content project_list_s2">
																				
							<h3>Ejemplo Personales Líneas de Crédito Comerciales</h3>
							<p>Estas son sólo algunas de las líneas de comercio con experiencia que podemos ofrecer a nuestros clientes. Estos son sólo ejemplos y las líneas comerciales reales en su cuenta pueden variar. Estas son las líneas de crédito que se suman a su historial de crédito y mejorar su calificación de crédito. Cuando usted se inscribe en uno de nuestros servicios de aumento Enhance, será agregado como un usuario autorizado y la historia y el balance de esta línea de crédito se extenderá en su historial de crédito. Cuando esta línea de crédito se repoted a la agencia durante el próximo ciclo regular de memorias, verá el aumento sustancial en su puntaje de crédito.</p>
							<p>&nbsp;</p>

								<div class="thumbnails_list">
									<ul class="proj_list">


									{% for post in site.categories.personal %}
										<li style="margin-bottom: 20px;" data-id="id-1" class="branding  view slides_item four columns">					 	
											<div class="post-thumb post-thumb-s2" style="background:#eee;">
												<ul class="ch-grid">
														<li class="nc4">
														<div class="ch-item">
															<a style="position: relative; float: left; width: 100%; height: 100%; overflow:hidden;" href="/contactenos">
																<img class="img_thumb" alt="" src="/assets/{{ post.card }}" style="position:relative;margin-top:30px;" />
															
															</a>
														</div>
													</li>
												</ul>
												<div class="no-flicker" style="position: relative; background: #EEE; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;">
													<div style="height: 108px;">
														<div style="padding-left: 15px; padding-top: 6px; border-top: solid 4px #DDD; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;" class="p_title no-flicker">
															

															<a style="-webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;" href="/contactenos">{{ post.title }}</a>
														</div>
														<div style="padding-left: 15px;" class="p_exerpt no-flicker">
															<a href="/contactenos" class="small button white" style="float:right;">Sign Up</a>

															<p style="font-size:11px;overflow-y: hidden; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;">
																Linea de Credito: {{ post.credit_limit }} <br />
																Fecha: {{ post.date_open }} <br />
																Saldo: {{ post.balance }} <br />
															</p>

															<div style="width: 0; height: 0; border-bottom: 15px solid white; border-left: 15px solid transparent; position: absolute; right: 0px;"></div>																
														</div>										
													</div>
												</div>
											</div>	
										</li>
									{% endfor %}
									</ul>
								</div>				 								
							</div><!-- .entry-content -->						
						</article>
					</div>
				</div>
				
				<div class="featured-box fancyborder">
					<div class="fancyb">
						<h3 style="font-size: 23px;text-align: left;width: 77%;clear: right;float: left;top: 10px;position: relative;left: 13px;">Buscando aumento crédito empresarial?</h3>
						<p style="text-align: left; color: #999;width: 50%; position: relative; float: left;top: 9px;">
							<span style="font-size: 18px;left: 13px;position: relative;left: 13px;font-weight: 100;color: #ccc;top:2px;">Ofrecemos la creación de crédito y servicios de mejora para las empresas.</span>
						</p>
						<p style="text-align: right;width: auto;float: right;position: relative;top: -18px;right: 8px;">
							<a href="/business-credit" class="button medium yellow">
								<span>Nuestro servicios de crédito de negocios &raquo;</span>
							</a>
						</p>
					</div>
				</div>
							

	
		
		<script type="text/javascript">
						
			$(document).ready(function(){
			
				$('.projectCategories .splitter li').each(function(){
				    $(this).click(function(){
					    $(this).addClass('active').siblings().removeClass('active');
					    $(this).siblings().not('active').slideHorzHide();
					    $(this).parents(".filterby").children(".filterby_btn").removeClass("open").addClass("closed");
					 });
				});
						    	
				$('.projectCategories .splitter').children('li').not('.active').slideHorzHide();
	
				if ($('#type_of_sorting').html() === 'opacity') {
					$('.thumbnails_list > ul').removeClass('proj_list').addClass('proj_list_overlay');
					clickThumbsOverlay("projects-2");	
				}
				else {
					$('#projects-2 .da-thumbs > li').hoverdir();
					quicksandstart("projects-2");
				}
				thumbnailsBehavior();
			});
		
			function toggleFilter($el){
				if ($el.hasClass('closed')){
					/* OPEN */
					$el.siblings('.projectCategories').children('.splitter').children('li').slideHorzShow();
					$el.removeClass('closed').addClass('open');										
				} else {
					/* CLOSE */									
					$el.siblings('.projectCategories').children('.splitter').children('li').not('.active').slideHorzHide();
					$el.removeClass('open').addClass('closed');
				}
			}
			
			function thumbnailsBehavior(){
	
			    $('.thumbnails_list > ul > li').each(function(){
			        
			        $(this).find('.magnify_this_thumb')
			        	.click(function(){
				    		$(this).parent('.hover_the_thumbs').siblings('.flex_this_thumb').prettyPhoto();
				    		$(this).parent('.hover_the_thumbs').siblings('.flex_this_thumb').trigger('click');
			        	})
			        	.hover(function(){
				    		$(this).css('background','#7AB317');
			        	}, function(){
				    		$(this).css('background','white');
			        	});
			        	
			        $(this).find('.hyperlink_this_thumb')
			        	.click(function(){
				    		window.location = $(this).parents('.ch-item').children('a').eq(0).attr('href');
			        	})
			        	.hover(function(){
				    		$(this).css('background','#7AB317');
			        	}, function(){
				    		$(this).css('background','white');
			        	});
			    
			        /*mouseenter and mouseleave events*/
				    $(this).hover(function(){
				    	$(this).find('.hover_the_thumbs').css('background-color','rgba(0, 0, 0, 0.6)');
				    	/*set the color of the div with the text*/
				    	$(this).children('div').css('background','#7AB317'); 
				    	$(this).find('.p_title a').css('color', 'white'); 
				    	$(this).find('.p_exerpt p').css('color', 'white');
				    	/*set the color of the darker divider of the div with the text*/ 
				    	$(this).find('.p_title').css('border-top', '4px solid #628f12');
				    }, function(){
				    	$(this).find('.hover_the_thumbs').css('background-color','rgba(0, 0, 0, 0)');
				    	$(this).children('div').css('background','#EEE');
				    	$(this).find('.p_exerpt p').css('color', ''); 
				    	$(this).find('.p_title a').css('color', ''); 
				    	$(this).find('.p_title').css('border-top', '4px solid #DDD');
				    });
			    });
			}	
			
			$.fn.slideHorzShow = function( speed, easing, callback ) { this.animate( { marginLeft : 'show', marginRight : 'show', paddingLeft : 'show', paddingRight : 'show', width : 'show' }, speed, easing, callback ); };
			$.fn.slideHorzHide = function( speed, easing, callback ) { this.animate( { marginLeft : 'hide', marginRight : 'hide', paddingLeft : 'hide', paddingRight : 'hide', width : 'hide' }, speed, easing, callback ); };
		</script>
		
					</div><!-- #primary -->
		</div><!-- enf of .container -->
	</div><!-- end of wrapper -->
{% include esp-footer.html %}	