{% include header.html %}
		<!-- START: INFO ABOVE MENU 	
		<div class="info_above_menu">
			<div class="container">
				<div class="info_above_menu_left eight columns">
					Awesome html5 theme by Designare
				</div>
				<div class="info_above_menu_right eight columns">
					Email: <a href=mailto:geral@designarethemes.com> geral@designarethemes.com </a>  |  Tel: +351 966 666 666
				</div>
			</div>
		</div>
		-->
		<!-- END: INFO ABOVE MENU -->
		
		<!-- START: PAGE TITLE -->
		<div class="fullwidth-container" style="position: relative;float: left; height: 110px; width: 100%;height: 110px;background: white;">
			<div class="container container-border"  style='border-top: 1px solid #ededed;'>
				<div class="pageTitle sixteen columns"  style='margin-top: 0px;'>
			   		<h3 class="page_title nine columns" style="color: #444444; font-size: 24px">{{ page.title }}</h3>
				</div>
			</div>
		</div>
		<!-- END: PAGE TITLE -->
		
	
		<div id="white_content">
		
			<div id="wrapper">

				<div class="main_cols container" style="margin-bottom:50px;">

					<div class="ten columns">
					<div class="intro">	Our personal credit enhancement process, sometimes called piggybacking, uses the accounts of another creditworthy borrower to improve your credit rating. </div>
					
						<div class="check">The other creditworthy borrower have made an agreement to add you as an authorized user to their lines of credit</div>
						<div class="check">They will never provide you with credit cards or account numbers that would permit you to make charges against the accounts</div>
						<div class="check">The combination of extended history and expanded credit limits will be merged into your credit history</div>
					
					<p>Your benefit is an improvement in your personal credit rating. However, this does not change your entire credit record, it only increases your credit score as a result of the newly added tradeline.</p>
					</div>
					<div class="six columns">
						<img src="/assets/business-credit-pen.jpg" style="width:100%;" />
						<a class="medium button yellow" href="/how-it-works" style="float:right;">
						<span class="des-icon80">
							<img class="cenas_icon loaded" src="/img/designare_icons/icon211.png" alt="" style="opacity: 1;">
							How Does It Work?
						</span>
					</a>
					</div>

				</div>





		<div style="clear:both;"></div>

 		<div class="container" style="border-top: 1px solid #ededed;">
			<div class="sixteen columns">
			<h3>Personal Credit Enhance Programs</h3>
			<p>Our <strong>PERSONAL ENHANCE</strong> program is designed to help customers improve already good credit. This is not a credit repair service or debt counseling.  This is credit rating boost for your personal credit history. We have experts standing by to guide you through the process. <a href="/contact-us">Ask us about which program you should join today &raquo;</a></p>
			<p>&nbsp;</p>
			</div>
		</div>

		<!-- START: PRICING TABLE -->
		<div class="container pricing_table">
		<!-- TABLE #01 -->
		<div class="pricing_tab four columns">
		    <div class="top">
		        <div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$250</div>
		        </div>
		    </div>

		    <div class="title">
		        PERSONAL ENHANCE
		    </div>

		    <ul class="specifics">
		        <li>Credit Score Starter Boost</li>
		    	<li>1-2 Credit Lines</li>
		    	<li>$500+ Credit Limits</li>
		        <li>1+ Year History</li>
		    </ul>

		    <p><a class="button small black" href="/contact-us">Get Started &raquo;</a></p>
		</div>

		<!-- TABLE #02 -->
		<div class="pricing_tab four columns">
		    <div class="top">
		        <div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$500</div>
		        </div>
		    </div>

		    <div class="title">
		        PERSONAL SILVER
		    </div>

		    <ul class="specifics">
		        <li>Get an Extra Boost</li>
		    	<li>2-3 Preferred Credit Lines</li>
		    	<li>$2,500+ Credit Limits</li>
		        <li>2+ Years History</li>
		        
		    </ul>

		    <p><a class="button small black " href="#">Get Started &raquo;</a></p>
		</div>

		<!-- TABLE #03 -->
		<div class="pricing_tab highlight four columns">
		    <div class="top">
		    	<div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$1000</div>
		        </div>
		    </div>

		    <div class="title" style="background-color: rgb(122, 179, 23);">
		        PERSONAL GOLD
		    </div>

		    <ul class="specifics">
		        <li>Super FAST Credit Boost!</li>
		    	<li>3-4 Seasoned Lines of Credit</li>
		        <li>$5,000+ Credit Limits</li>
		        <li>3+ Years History</li>
		        <li>VIP/Expedited Service</li>
		    </ul>

		    <p><a class="button medium green highlight" href="/contact-us">Get Started &raquo;</a></p>
		</div>

		<!-- TABLE #04 -->
		<div class="pricing_tab four columns">
		    <div class="top">
		        <div style="position: relative; display: inline-block; margin: 0 auto; font-size:16px;">
		            <div>$1500</div>
		        </div>
		    </div>

		    <div class="title">
		        PERSONAL PLATINUM
		    </div>

		    <ul class="specifics">
		    	<li>ULTIMATE credit score boost!</li>
		    	<li>5 Platinum Credit Lines</li>
		        <li>$10,000+ Credit Limits</li>
		        <li>3+ Years History </li>
		        <li>VIP/Expedited Service</li>		
		    </ul>

		    <p><a class="button small black " href="/contact-us">Get Started &raquo;</a></p>
		</div>
		</div>
		<!-- END: PRICING TABLE -->



				<div class="container" style='border-top: 1px solid #ededed;'>
	    			<div class="reset_960">
	
						<article id="projects-2" role="article">
					
							<div class="entry-content project_list_s2">
																				
							<h3>Example Personal Credit Trade Lines</h3>
							<p>These are just a few of the seasoned trade lines we can offer to our customers. These are just examples and the actual trade lines on your account may vary. These are lines of credit that add to your credit history and improve your credit rating. When a you sign up for one of our Enhance boost services, you will be added as an authorized user and the history and balance of this credit line will be extended into your credit history. When this credit line is repoted to the agency during the next regular reporting cycle, you will see substantial gain in your credit score.</p>
							<p>&nbsp;</p>

								<div class="thumbnails_list">
									<ul class="proj_list">


									{% for post in site.categories.personal %}
										<li style="margin-bottom: 20px;" data-id="id-1" class="branding  view slides_item four columns">					 	
											<div class="post-thumb post-thumb-s2" style="background:#eee;">
												<ul class="ch-grid">
														<li class="nc4">
														<div class="ch-item">
															<a style="position: relative; float: left; width: 100%; height: 100%; overflow:hidden;" href="/contact-us">
																<img class="img_thumb" alt="" src="/assets/{{ post.card }}" style="position:relative;margin-top:30px;" />
															
															</a>
														</div>
													</li>
												</ul>
												<div class="no-flicker" style="position: relative; background: #EEE; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;">
													<div style="height: 120px;">
														<div style="padding-left: 15px; padding-top: 6px; border-top: solid 4px #DDD; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;" class="p_title no-flicker">
															

															<a style="-webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;" href="/contact-us">{{ post.title }}</a>
														</div>
														<div style="padding-left: 15px;" class="p_exerpt no-flicker">
															<a href="/contat us" class="small button white" style="float:right;">Sign Up</a>

															<p style="font-size:11px;overflow-y: hidden; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;">
																Credit Line: {{ post.credit_limit }} <br />
																Date Open: {{ post.date_open }} <br />
																Balance: {{ post.balance }} <br />
																<strong>Typical Fee: {{ post.price }}</strong>
															</p>

															<div style="width: 0; height: 0; border-bottom: 15px solid white; border-left: 15px solid transparent; position: absolute; right: 0px;"></div>																
														</div>										
													</div>
												</div>
											</div>	
										</li>
									{% endfor %}
									</ul>
								</div>				 								
							</div><!-- .entry-content -->						
						</article>
					</div>
				</div>
				
				<div class="featured-box fancyborder">
					<div class="fancyb">
						<h3 style="font-size: 23px;text-align: left;width: 77%;clear: right;float: left;top: 10px;position: relative;left: 13px;">Looking for business credit boost?</h3>
						<p style="text-align: left; color: #999;width: 72%; position: relative; float: left;top: 9px;">
							<span style="font-size: 18px;left: 13px;position: relative;left: 13px;font-weight: 100;color: #ccc;top:2px;">We offer credit building and enhancement services for corporations.</span>
						</p>
						<p style="text-align: right;width: 28%;float: right;position: relative;top: -18px;right: 8px;">
							<a href="/business-credit" class="button big yellow">
								<span>Business Credit Services &raquo;</span>
							</a>
						</p>
					</div>
				</div>
							

	
		
		<script type="text/javascript">
						
			$(document).ready(function(){
			
				$('.projectCategories .splitter li').each(function(){
				    $(this).click(function(){
					    $(this).addClass('active').siblings().removeClass('active');
					    $(this).siblings().not('active').slideHorzHide();
					    $(this).parents(".filterby").children(".filterby_btn").removeClass("open").addClass("closed");
					 });
				});
						    	
				$('.projectCategories .splitter').children('li').not('.active').slideHorzHide();
	
				if ($('#type_of_sorting').html() === 'opacity') {
					$('.thumbnails_list > ul').removeClass('proj_list').addClass('proj_list_overlay');
					clickThumbsOverlay("projects-2");	
				}
				else {
					$('#projects-2 .da-thumbs > li').hoverdir();
					quicksandstart("projects-2");
				}
				thumbnailsBehavior();
			});
		
			function toggleFilter($el){
				if ($el.hasClass('closed')){
					/* OPEN */
					$el.siblings('.projectCategories').children('.splitter').children('li').slideHorzShow();
					$el.removeClass('closed').addClass('open');										
				} else {
					/* CLOSE */									
					$el.siblings('.projectCategories').children('.splitter').children('li').not('.active').slideHorzHide();
					$el.removeClass('open').addClass('closed');
				}
			}
			
			function thumbnailsBehavior(){
	
			    $('.thumbnails_list > ul > li').each(function(){
			        
			        $(this).find('.magnify_this_thumb')
			        	.click(function(){
				    		$(this).parent('.hover_the_thumbs').siblings('.flex_this_thumb').prettyPhoto();
				    		$(this).parent('.hover_the_thumbs').siblings('.flex_this_thumb').trigger('click');
			        	})
			        	.hover(function(){
				    		$(this).css('background','#7AB317');
			        	}, function(){
				    		$(this).css('background','white');
			        	});
			        	
			        $(this).find('.hyperlink_this_thumb')
			        	.click(function(){
				    		window.location = $(this).parents('.ch-item').children('a').eq(0).attr('href');
			        	})
			        	.hover(function(){
				    		$(this).css('background','#7AB317');
			        	}, function(){
				    		$(this).css('background','white');
			        	});
			    
			        /*mouseenter and mouseleave events*/
				    $(this).hover(function(){
				    	$(this).find('.hover_the_thumbs').css('background-color','rgba(0, 0, 0, 0.6)');
				    	/*set the color of the div with the text*/
				    	$(this).children('div').css('background','#7AB317'); 
				    	$(this).find('.p_title a').css('color', 'white'); 
				    	$(this).find('.p_exerpt p').css('color', 'white');
				    	/*set the color of the darker divider of the div with the text*/ 
				    	$(this).find('.p_title').css('border-top', '4px solid #628f12');
				    }, function(){
				    	$(this).find('.hover_the_thumbs').css('background-color','rgba(0, 0, 0, 0)');
				    	$(this).children('div').css('background','#EEE');
				    	$(this).find('.p_exerpt p').css('color', ''); 
				    	$(this).find('.p_title a').css('color', ''); 
				    	$(this).find('.p_title').css('border-top', '4px solid #DDD');
				    });
			    });
			}	
			
			$.fn.slideHorzShow = function( speed, easing, callback ) { this.animate( { marginLeft : 'show', marginRight : 'show', paddingLeft : 'show', paddingRight : 'show', width : 'show' }, speed, easing, callback ); };
			$.fn.slideHorzHide = function( speed, easing, callback ) { this.animate( { marginLeft : 'hide', marginRight : 'hide', paddingLeft : 'hide', paddingRight : 'hide', width : 'hide' }, speed, easing, callback ); };
		</script>
		
					</div><!-- #primary -->
		</div><!-- enf of .container -->
	</div><!-- end of wrapper -->
{% include footer.html %}	