	<!-- START FOOTER -->
    <div id="big_footer">
        <div class="white_content_arrow"></div>

        
        <!-- TWITTER SCROLLER -->
        <div id="footer_content">
            <div class="container">
                <div class="four columns">
                    <div class="footer-widget widget_categories" id="text-3">
                        <h4>ENHANCE YOUR SCORE</h4>
                        <hr>
                        <ul>
                            <li class="cat-item cat-item-4"><a href="/inicio">Inicio</a></li>
                            <li class="cat-item cat-item-5"><a href="/creditos-personales">Creditos Personales</a></li>
                            <li class="cat-item cat-item-6"><a href="/creditos-empresa">Creditos de Empresa</a></li>
                            <li class="cat-item cat-item-7"><a href="/como-funciona">Como Funciona</a></li>
                            <li class="cat-item cat-item-8"><a href="/preguntas">Preguntas más frecuentes</a></li>
                            <li class="cat-item cat-item-9"><a href="/contactenos">Contactenos</a></li>
                            <li class="cat-item cat-item-10"><a href="/ganar-dinero">Ganar Dinero</a></li>                        
                        </ul>
                    </div>
                </div>

                <div class="seven columns">
                    <div class="footer-widget widget_categories">

                        <h4 style="border-top:1px #555 solid;padding-top:10px;">GANAR DINERO CON NOSOTROS</h4>
                        <p>Cardholders can make up to $200 per authorized user.</strong></p>
                        <a href="/ganar-dinero" class="button small black"><span>Learn more</span></a>

                        
                        <h4 style="border-top: 1px #555 solid;padding-top:10px;">AFILIADOS</h4>
                        <p>Our affiliate program is efficient and beneficial for all involved.</p>
                        <a href="/filial" class="button small black"><span>Learn more</span></a>
                    </div>
                </div>


                <div class="five columns">
                    <div class="footer-widget contact_form_widget" id="contactform_widget-2">
                    
                        <h4 style="border-top:1px #555 solid;padding-top:10px;">CARGUE SU INFORME</h4>
                        <p>Envíenos su negocio o informe de crédito personal para la evaluación.</p>
                        <a href="/contactenos" class="upload button small black"><span>Envíenos su informe de crédito</span></a>

                        <h4>CONTRATO DE CLIENTES</h4>
                        <a href="/contrato-cliente" class="upload button small black"><span>Revisar y firma el contrato</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="copys">
            <div class="container">
                <div class="copys_left eight columns">
                    © Copyrights 2013
                </div>

                <div class="copys_right eight columns">
                    <ul id="footer_menu" class="footer_menu">
                        <li class="menu-item">
                            <a href="/inicio">Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end of everything -->
    
    <!-- GOOGLE ANALYTICS -->
	<script type="text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  //ga('create', 'UA-39948175-1', 'designarethemes.com');
	  //ga('send', 'pageview');
	</script>
	<!-- END OF GOOGLE ANALYTICS -->

    <!-- BODY TYPE: OPTIONS: full | boxed -->
    <div id="bodyLayoutType" style="display:none;">full</div>
    
    <!-- if body type == boxed, choose between "image", "pattern" or "color" -->
    <div id="bodyBoxedType" class="image" style="display:none;">http://designarethemes.com/themes/freshlookwp/wp-content/uploads/2012/11/1353782739bigsize.jpg</div>
    <div id="templatepath" style="display:none;">http://designarethemes.com/test/FLhtml/</div>
    <div id="homeURL" style="display:none;">http://designarethemes.com/test/FLhtml/</div>

    <!-- GENERAL COLOR TO BE APPLIED -->
    <div id="styleColor" style="display:none;">#7AB317</div>

    <!-- BLOG PAGINATION RELATED OPTIONS -->
    <div style="display:none;" id="loader-startPage">0</div>
    <div style="display:none;" id="loader-maxPages"></div>
    <div style="display:none;" id="loader-nextLink">http://designarethemes.com/themes/freshlookwp/page/2/</div>
    <div style="display:none;" id="reading_option"></div>
    <div style="display:none;" id="freshlook_no_more_posts_text">No more posts to load.</div>
    <div style="display:none;" id="freshlook_load_more_posts_text">Load More Posts</div>
    <div style="display:none;" id="freshlook_loading_posts_text">Loading posts...</div>
    <div style="display:none;" id="freshlook_links_color_hover"></div>
    <!-- IMAGE LOADER -->
    <div style="display:none;" class="loadinger"><img alt="loading" src="/img/ajx_loading.gif"></div>
</body>
</html>