<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-US" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-US" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }} | Aumente su Puntaje de Crédito</title>
<meta name="description" content="Nuestra experiencia se centra en la mejora de su puntuación FICO, añadiendo que como un usuario autorizado a nuestra cartera de tarjetas de crédito de alto límite ($ 30k plus) y larga historia (10 años más).">
<meta name="author" content="">
<meta name="keywords" content="fico, tradelines, credit score, authorized user, enhancement, boost, credit rating, AU">
<link rel="shortcut icon" href="/favicon.ico">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" href="css/ieeight.css" type="text/css" media="screen, projection" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" href="css/ienine.css" type="text/css" media="screen, projection" />
<![endif]-->
<link rel="stylesheet" href="/css/skeleton.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/reset.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/default.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/camera.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/da-thumbs.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/tango/skin.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/superfish.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/blog.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/projects.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/resize.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/tweet.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/farbtastic.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/shortcodes.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/captions-original.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/captions.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/settings.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/mediaelementplayer.css" type="text/css" media="all" />


<!-- Freshlook Scripts -->
<script type="text/javascript" src="/js/jquery.1.8.3.js"></script>
<script type="text/javascript" src="/js/slides.min.jquery.js"></script>
<script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/js/mediaelement-and-player.min.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/modernizr.custom.79639.js"></script>
<script type="text/javascript" src="/js/camera.min.js"></script>
<script type="text/javascript" src="/js/jquery.themepunch.revolution.js"></script>
<script type="text/javascript" src="/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/js/tabs.js"></script>
<script type="text/javascript" src="/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/js/freshlook.js"></script>
<script type="text/javascript" src="/js/jquery.hoverdir.js"></script>
<script type="text/javascript" src="/js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/js/jQuerytools.js"></script>
<script type="text/javascript" src="/js/superfish.js"></script>
<script type="text/javascript" src="/js/supersubs.js"></script>
<script type="text/javascript" src="/js/jflickrfeed.js"></script>
<script type="text/javascript" src="/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="/js/jquery.quicksand.js"></script>
<script type="text/javascript" src="/js/contact.js"></script>
<script type="text/javascript" src="/js/jquery.scrolltotop.js"></script>

<script type="text/javascript" src="/js/farbtastic.js"></script>
<script type="text/javascript" src="/js/jquery.xcolor.js"></script>


<script type="text/javascript">
	$(document).ready(function() {
		$('a.reg').click(function(e) {
			window.location="/contactenos";
		});
		
	});
</script>
</head>
	
<body class="home page">	
	<div class="everything">
		<div class="info_above_menu" style="opacity: 1;">
			<div class="container">
				<div class="info_above_menu_left eight columns">
					Déle a su puntuación de crédito un aumento con servicios por Enhance Your Score
				</div>
				<div class="info_above_menu_right eight columns">
					Email: <a href="mailto:info@enhanceyourscore.com"> info@enhanceyourscore.com </a> &nbsp; | &nbsp; Gratis: 877-530-5533 &nbsp; | &nbsp; <strong><a href="/">English</a></strong>

				</div>

			</div>
		</div>


		<!-- COLOR Switcher (hidden by default) -->
		<div id="option_wrapper" style="display: none;">
			
			<div class="inner">
				<div id="colorpicker"></div>
	 			<form style="margin: 20px 20px 0 28px;position: relative;top:12px;">
	 				<input type="text" id="color" name="color" value="#7AB317" />
	 			</form>
	 		</div>
			
		</div>
				    	
		<div class="option_btn settings-close" style="display: none;"></div>
		<!-- END OF COLOR Switcher -->
		
		<!-- START: HEADER -->
		<div class="header_container">
			<header id="header" class="container">
				<div class="logo_and_menu">
					
					<!-- START: LOGO & SLOGAN -->	
					<div class="logo four columns">
						<a href="/inicio" tabindex="-1" style="text-indent: 0px;">
							<div class="logo" style="top: 24px; left: 0px; background: none; font-size: 20px; font-weight:bold; margin-top:12px;">Enhance <span class=color_logo>Your Score</span></div>
						</a>
						
						<div class="slogan" style="background: none; font-family: 'Georgia'; font-style: italic; font-size: 12px; color: #cccccc;">Simple y fácil aumento de puntaje</div>
					</div>
	
					<nav class="menu twelve columns">

						<!-- PRIMARY MENU (NORMAL BROWSERS) [ add class="selected" on the current <a> ]-->
					    <ul id="menulava" class="sf-menu">
					        <li class="menu-item">
					            <a href="/inicio" {% if page.url == "/inicio" %}class="selected"{% endif %}>Inicio</a>
					        </li>
					        <li class="menu-item">
					            <a href="/como-funciona" {% if page.url == "/como-funciona/" %}class="selected"{% endif %}>Como Funciona</a>
					        </li>
					        <li class="menu-item">
					            <a href="/creditos-empresa" {% if page.url == "/creditos-empresa/" %}class="selected"{% endif %}>Creditos de Empresa</a>
					        </li>
					        <li class="menu-item">
					            <a href="/creditos-personales" {% if page.url == "/creditos-personales/" %}class="selected"{% endif %}>Creditos Personales</a>
					        </li>
					        <li class="menu-item">
					            <a href="/preguntas" {% if page.url == "/preguntas/" %}class="selected"{% endif %}>Preguntas</a>
					        </li>
					        <li class="menu-item">
					            <a href="/contactenos" {% if page.url == "/contactenos/" %}class="selected"{% endif %}>Contactenos</a>
					        </li>
					    </ul>
					    <!-- END OF PRIMARY MENU (NORMAL BROWSERS) -->
					
					    <!-- SECONDARY MENU (MOBILE BROWSERS AND SMALLER RESOLUTIONS) -->
					    <div id="select-menu">
					        <select id="menu" class="dropdown-menu">
					            <option value="">
					                Mobil
					            </option>
					            <option value="/inicio" {% if page.url == "/inicio" %}selected="selected"{% endif %}>
					                Inicio
					            </option>
					            <option value="/como-funciona"  {% if page.url == "/como-funciona/" %}selected="selected"{% endif %}>
					                Como Funciona
					            </option>

					            <option value="/creditos-empresa" {% if page.url == "/creditos-empresa/" %}selected="selected"{% endif %}>
					                Creditos de Empresa
					            </option>

					            <option value="/creditos-personales" {% if page.url == "/creditos-personales/" %}selected="selected"{% endif %}>
					                Creditos Personales
					            </option>

					            <option value="/ganar-dinero"  {% if page.url == "/ganar-dinero/" %}selected="selected"{% endif %}>
					                Ganar Dinero
					            </option>
					            <option value="/preguntas" {% if page.url == "/preguntas/" %}selected="selected"{% endif %}>
					                Preguntas Frecuentes
					            </option>
					            <option value="/contactenos" {% if page.url == "/contactenos/" %}selected="selected"{% endif %}>
					                Contactenos
					            </option>
					            <option value="/filial" {% if page.url == "/filial/" %}selected="selected"{% endif %}>
					                Convertirse en un afiliado
					            </option>
					        </select>
					    </div><!-- End Menu -->

					</nav>
					
				</div>
			</header>
			<!-- HEADER SHADOW -->
			<div class="header-shadow"></div>
		</div>
		<!-- END: HEADER -->